<ion-content [fullscreen]="true" class="menu-content">  
  <div class="menu-background"></div>
  <div class="menu-container">
    <!-- Language Toggle - Top -->
    <div class="language-toggle-container">
      <ion-segment
        [value]="languageService.getCurrentLanguage()"
        (ionChange)="onLanguageChange($event)"
        color="light"
      >
        <ion-segment-button value="ru">
          <ion-label>{{ 'language.russian' | transloco }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="en">
          <ion-label>{{ 'language.english' | transloco }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- Menu Buttons - Center -->
    <div class="menu-buttons">
      <ion-button
        expand="block"
        size="large"
        class="menu-button play-button"
        (click)="onPlayClick()"
      >
        <ion-icon name="play" slot="start"></ion-icon>
        {{ 'app.menu.play' | transloco }}
      </ion-button>

      <ion-button
        expand="block"
        size="large"
        fill="outline"
        class="menu-button about-button"
        (click)="onAboutClick()"
      >
        <ion-icon name="information-circle" slot="start"></ion-icon>
        {{ 'app.menu.about' | transloco }}
      </ion-button>
    </div>
  </div>
</ion-content>
